@import './default.less';
.homePage-wrap{
    position: relative;
    .navBar{
        height: calc(100vh);
        background-color: @colorR;
    }
    .main{
        background-color: @colorD;
        height: calc(100vh);
    }
    .content{        
         background-color: white;
    }
}