@import './default.less';
.homePage-wrap{
    .navBar{
        height: calc(100vh);
        background-color: @colorR;
        color: #fff;
    }
    .main{
        background-color: @colorD;
        height: calc(100vh);
        overflow: auto;
         .content {
             background-color: black;
             margin: 20px;
         }
    }
   
}